<!DOCTYPE html>

<h3>Configure Your Bomb</h3>
<form action="/configure", method="post">
  Activation code: <input type="number" name="act_code"><br><br>
  Deactivation code: <input type="number" name="deact_code"><br><br>
  <input type="submit" value="SAVE">
</form>