<h2>This bomb is <%= bomb.status %></h2>
<form class="form-inline" action="/", method="post">
  <div class="form-group">
    <label for="code"><%= input_label %></label>
    <input type="number" class="form-control" id="code" name="code">
  </div>
  <button type="submit" class="btn btn-danger">GO</button>
</form>
<img src="<%= bomb_img_url %>" height="100">